* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: rgb(255, 251, 254);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sidebar {
  background-color: rgb(94, 66, 108);
  padding: 5% 0;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 1;
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a>img {
  width: 80%;
  transition: 0.3s ease-in-out;
}

a>img:hover {
  transform: scale(90%);
  transition: 0.3s ease-in-out;
}

#project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10%;
  width: 88%;
}

.selected {
  border-bottom: 8px solid rgb(170, 88, 251);
}

#project-icons {
  margin: 0 auto;
  display: flex;
  width: 100%;
}

#project-icons>p {
  width:50%;
  padding: 1%;
}

#project-icons>p:hover {
  cursor: pointer;
}

#proj-selected-container { 
  height: 80vh;
  background-color: rgb(94, 66, 108);
  display: flex;
  padding: 5%;
  flex-wrap: wrap;
}

#proj-selected-container>img {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
}

#proj-main {
  background-color: rgb(197, 228, 255);
  border: 1px solid red;
  margin-top: 5%;
  width: 100%;
  min-height: 5em;
  display: flex;
  flex-direction: column;
}

.proj-main p:last-child {
  align-self: flex-end;
}


